# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\coding\github\MathFxGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
